<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WebSocket简单聊天室</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/webjars/mdui/dist/css/mdui.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/webjars/mdui/dist/js/mdui.js}"></script>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">

<div class="mdui-container">
    <div class="mdui-toolbar mdui-color-theme">
        <a class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
        <span class="mdui-typo-title">大厅</span>
        <div class="mdui-toolbar-spacer"></div>
        <a class="mdui-btn mdui-btn-icon" href="https://www.baidu.com" target="_blank"><i
                class="mdui-icon material-icons">search</i></a>
        <a class="mdui-btn mdui-btn-icon" href="login.html"><i
                class="mdui-icon material-icons">exit_to_app</i></a>
        <a class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
    </div>
</div>

<div>
    <div class="mdui-container container_text">

        <div class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-sm-6">
                <div class="mdui-col-xs-12 mdui-col-sm-10">
                    <div class="mdui-textfield-floating-label" style="margin-top:15px">
                        <i class="mdui-icon material-icons">欢迎：</i>
                        <i class="mdui-icon" id="username" th:text="${username}"></i>
                    </div>
                </div>
                <div class="mdui-col-xs-12 mdui-col-sm-10">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">textsms</i>
                        <label class="mdui-textfield-label">发送内容</label>
                        <input class="mdui-textfield-input" id="msg"/>
                    </div>
                    <div class="mdui-container" style="padding:20px 35px">
                        <button class="mdui-btn mdui-color-theme-accent mdui-ripple"
                                onclick="sendMsgToServer()">发送 (enter)
                        </button>
                        <button class="mdui-btn mdui-color-theme mdui-ripple"
                                onclick="clearMsg()">清屏
                        </button>
                        <button class="mdui-btn mdui-color-theme mdui-ripple" onclick="createRoom()">
                                创建群聊
                        </button>
                        <input class = "mdui-btn mdui-color-theme mdui-ripple"
                        type="file"  id="img"  value="上传图片">
                    </div>
                    <div class="menber-container">
                        <h3>在线列表</h3>
                        <ul id="list"> 
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mdui-col-xs-6 mdui-col-sm-5" style="padding:10px 0">
                <div class="mdui-chip">
                    <span class="mdui-chip-icon mdui-color-blue">
                        <i class="mdui-icon material-icons">&#xe420;</i></span>
                    <span class="mdui-chip-title">
                        聊天内容
                    </span>
                </div>

                <div class="mdui-chip">
                    <span class="mdui-chip-icon mdui-color-blue">
                        <i class="mdui-icon material-icons">face</i></span>
                    <span class="mdui-chip-title">在线人数</span>
                    <span class="mdui-chip-title chat-num">0</span>
                </div>
                <div class="message-container">
                   
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /**
    websocket 客户端
    客户端通过一个回调函数来接收服务端的消息
    客户端通过send函数将消息发送给客户端
    */
    var websocket = new WebSocket("ws://localhost:8080/chat");
    websocket.onopen = function(event){
        console.log("创建连接");
    };

    websocket.onmessage = function(event){
        var message = JSON.parse(event.data);
        var $messageContainer = $('.message-container');
        if(message.list != null ||  message.list != undefined){
            showOnLine(message.list);
        }
        if(message.type == "Speak" || message.type == "Single"){
            $messageContainer.prepend('<div class="mdui-card" style="margin: 10px 0;">' +
                    '<div class="mdui-card-primary">' +
                    '<div class="mdui-card-content message-content">' + message.username + "：" + message.msg + '</div>' +
                    '</div></div>');
        }
        if(message.isPicture === 1){
            $messageContainer.prepend('<div class="mdui-card" style="margin: 10px 0;">' +
                    '<div class="mdui-card-primary">' +
                    '<div class="mdui-card-content message-content">' + message.username + '：<img src="' + message.msg + '" width = "80%" height = "50%"></div>' +
                    '</div></div>')
        }
        $('.chat-num').text(message.onlineNum);
        var $cards = $messageContainer.children('.mudi-card:visible').toArray();
        if($cards.length >= 5){
            $cards.forEach(function(item,index){
                index < $cards.length && $(item).slideUp('fast');
            });
        }
    };

    websocket.onclose = function(event){
        console.log("websocket connection close: %c" + event.reason, 'color:red');
    };
    
    websocket.onerror = function(event){
        console.log("websocket happend some error");
    };

    function sendMsgToServer(){
        var $message = $('#msg');
        if($message.val()){
            websocket.send(JSON.stringify({type: 'Speak', username: $('#username').text(), msg: $('#msg').val(), onlineNum: $('.chat-num').text()}));
            $message.val(null);
        }
    }
    function clearMsg(){
        $('.message-container').empty();
    }

    document.onkeydown = function(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        e.keyCode === 13 && sendMsgToServer();
    };
    function showOnLine(list){
        $('#list').html("");
        $.each(list,function(index,item){
            var li = "<li>" + item + "</li>";
            if($('#username').text() != item){
                li = "<li>" + item + "<button onclick=\"addchat('" + item + "');\"><span>私聊</button></li>"; 
            }
            $('#list').prepend(li);
        });
    }
    function addchat(item){
        console.log(item);
        console.log( $('#username').text())
        var list = new Array(item,$('#username').text());
        websocket.send(JSON.stringify({type: 'Single', username: $('#username').text(), 
                              msg: $('#username').text() + '邀请你私聊<a href="http://2215597d.ngrok.io/private">进入</a>',
                              onlineNum: $('.chat-num').text(),list: list}));
    }
    function createRoom(){
        websocket.send(JSON.stringify({type: 'Speak',username: $('#username').text(), msg: '创建群聊，<a href="http://2215597d.ngrok.io/group?groupname=' + $('#username').text()  + '">点击进入</a>',
                            onlineNum: $('.chat-num').text()}));
    }
    $('#img').change('input',function(e){
        var file = $('#img')[0].files[0];
            var maxfileSize = 1024;
            var size = file.size/1024;
            if(size > maxfileSize){
                alert("图片过大")
            }else{
                file.convertToBase64(function(base){
                    websocket.send(JSON.stringify({type: 'Picture', username: $('#username').text(),
                    msg: base,onlineNum: $('.chat-num').text()}));
                    console.log("上传图片");
                });
            }
        });
        File.prototype.convertToBase64 = function(callback){
            var reader = new FileReader();
            reader.onload = function(e){
                callback(e.target.result)
            };
            reader.readAsDataURL(this);
        }
</script>
</body>
</html>